html,
body {
    background-color: #000000;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(
        to bottom,
        #000000 70%,
        #434343 100%
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #000000 70%,
        #434343 100%
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Links */
a {
    cursor: pointer;
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

a:visited {
    color: #000000;
}

.plan-links {
    color: #cbbb9f !important;
    font-size: 0.9rem;
}

/* 
    <=== Date inputs (removes placeholder text 'mm/dd/yyyy') ===>
    
    Problem:
    It's part of a workaround to remove the placeholder text 'mm/dd/yyyy' from date inputs when it's first presented to the user. 
    If it is not removed, the custom label and the placeholder text will overlap confusingly (only for date inputs). Only for Chrome.
    Note: for Safari and Firefox, it only works with JS (see useDateInputBehaviour() hook).
    
    Solution:
    First the user will see the placeholder text, then the text will be replaced with the actual date and class 'date-filled' will be added to the input. 
    It works in conjunction with the custom hook useDateInputBehaviour() that will change class to date-filled if user has filled the date.

*/

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    color: transparent;
}

input[type="date"].date-filled::-webkit-datetime-edit-text,
input[type="date"].date-filled::-webkit-datetime-edit-month-field,
input[type="date"].date-filled::-webkit-datetime-edit-day-field,
input[type="date"].date-filled::-webkit-datetime-edit-year-field {
    color: black;
}

input[type="date"]:focus::-webkit-datetime-edit-text,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field {
    color: black;
}
