html {
    background-color: #000000;
}

body { 
    margin: 0; 
    padding: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000 70%, #434343 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000 70%, #434343 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
