html,
body {
    background-color: #000000;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(
        to bottom,
        #000000 70%,
        #434343 100%
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #000000 70%,
        #434343 100%
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Links */
a {
    cursor: pointer;
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

a:visited {
    color: #000000;
}

/* Date inputs (removes helper text 'mm/dd/yyyy') */
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}